<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>


    <div class="login">
        <div class="form-container form">
            <img src="../assets/img/icons/logos/logo_yard_sale.svg" alt="logo" class="logo">
            <h1 class="title">Log-In</h1>
            <form ction="" class="form">
                <label for="password" class="label">E-mail address</label>
                <input type="email" name="new-password" id="new-password" class="input input-password" placeholder="e-mail"> 
                
                <br>
                <label for="password" class="label">Password</label>
                <input type="password" name="new-password" id="new-password" class="input input-password" placeholder="password">
                <input type="submit" value="Login" class="primary-button login-button">
            </form>
            <center>

            
                    <p class="resend">
                        <a href="">
                        Forgot my password
                    
                        Resend</a>
                    </p>

             </center>

            <button class="secondary-button signup">
                Sign up
            </button>

        </div>
        
    </div>
    
</body>
</html>